@charset "UTF-8";

body{
    height: 100vh;
    
    /*
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; [Size só funciona no shorthand se colocarmos a '/' depois do position]
    background-attachment: fixed*/

    background: black url('imagens/wallpaper002.jpg') center center/cover no-repeat fixed;
}

main{
    background-color: white;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    border: 2px solid darkblue;
    border-radius: 15px;
    text-align: justify;
}