@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

caption{
    font-weight: bolder;
    font-size: 1.5em;
}

table{
    width: 700px;
    padding: 10px;
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 10px;
    color: white;
}

.cn{
    background-color: rgb(0, 191, 255);
}

.cs{
    background-color: rgb(0, 159, 212);
}

.ci{
    background-color: rgb(0, 102, 136);
}

.cp{
    background-color:  rgb(0, 65, 87);
}