@charset "UTF-8";

h1 {
    text-align: center;
    background-color: rgb(138, 136, 136);
    color: white;   
   border: 10px double darkgray;
    border-radius: 20px;
}

p {
    text-align: justify;
}

a{
    display: block;
    border: 10px dashed gray ;
    border-radius: 20px;
    text-align: center;
}