@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #8AA6A3, #4C5958);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #969696a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #127369;
    text-align: center;
    text-shadow: 1px 1px 2px #0b423db4;
}

h2{
    color: #10403B;
}

p{
    text-align: justify;
}